/* Estoque.module.css */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 10px;
  width: 100%;
}

.header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.header div:hover {
  transform: scale(1.1);
  z-index: 100;
  transition: all 0.2s;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.header span {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


@media (max-width: 900px) {
  .header{
    flex-direction: column;
  }
  
}