.header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid var(--GreyCCC);
  margin-bottom: 30px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.3); /* Cor de fundo transparente */
  backdrop-filter: blur(10px); /* Desfoque para criar o efeito glass */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para realçar o efeito */
}
.header div {
  position: relative;
  align-items: center;
  padding: 8px 16px;
  color: #7a7575;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--GreyCCC);
}
.header div:hover {
  transform: scale(1.1);
  z-index: 100;
  transition: all 0.2s;
}

.header div:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 30px solid var(--EntradaLight); /* Change the color as per your requirement */
}
.header div:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 30px solid var(--SaidaLight); /* Change the color as per your requirement */
}
.header div:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 30px solid var(--CaixaLight); /* Change the color as per your requirement */
}

.header div:nth-child(1) {
  border: 1px solid var(--corEntrada);
  border-top: 10px solid var(--EntradaLight);
  filter: drop-shadow(3px 3px 3px var(--corShadow));
}
.header div:nth-child(2) {
  border: 1px solid var(--corSaida);
  border-top: 10px solid var(--SaidaLight);
  filter: drop-shadow(3px 3px 3px var(--corShadow));
}
.header div:nth-child(3) {
  border: 1px solid var(--corCaixa);
  border-top: 10px solid var(--CaixaLight);
  filter: drop-shadow(3px 3px 3px var(--corShadow));
}

.header div {
  min-width: 300px;
}

.header div:nth-child(1) span h1 {
  color: var(--corEntrada);
  font-weight: normal;
}
.header div:nth-child(2) span h1 {
  color: var(--corSaida);
  font-weight: normal;
}
.header div:nth-child(3) span h1 {
  color: var(--corCaixa);
  font-weight: normal;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    height: auto;
  }
  .header div {
    max-width: 300px;
    margin: 0 auto;
  }
}
