:root {
  --corSaida: #ff0000;
  --corEntrada: #00ff00;
  --corCaixa: #0099ff;
}

.header {
  display: flex;
  width: 100%;
  height: 150px;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.header div {
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 8px;
}

.header div {
  width: 350px;
}
.header div span h1 {
  backdrop-filter: blur(8px); /* Desfoque para criar o efeito de vidro */
  border-radius: 10px;
  text-align: center;
  color: white; /* Cor do texto para melhor visualização */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Cor do fundo com transparência */
}
.header div:nth-child(1) span h1 {
  color: var(--corEntrada);
}
.header div:nth-child(2) span h1 {
  color: var(--corSaida);
}
.header div:nth-child(3) span h1 {
  color: var(--corCaixa);
}
