:root {
  --corSaida: #ff0000;
  --corEntrada: #00ff00;
  --corCaixa: #0099ff;
}

.header {
  display: flex;
  width: 100%;
  height: 150px;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  gap: 10px;
}
.header div {
  align-items: center;
  padding: 8px 16px;
  color: #272727;
  background-color: #ffffff;
  border-radius: 8px;
  filter: drop-shadow(3px 3px 3px #ccc);

}
.header div:nth-child(1) {
  border-top: 5px solid var(--corEntrada);

}
.header  div:nth-child(2)  {
  border-top: 5px solid var(--corSaida);
  
}
.header  div:nth-child(3)  {
  border-top: 5px solid var(--corCaixa);
}

.header div {
  width: 350px;
}

.header div:nth-child(1) span h1 {
  color: var(--corEntrada);
}
.header div:nth-child(2) span h1 {
  color: var(--corSaida);
}
.header div:nth-child(3) span h1 {
  color: var(--corCaixa);
}
