.father {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
  gap: 10px;
  margin: 10px auto;
}
.father > label {
  color: #000000;
  text-align: center;
  font-weight: bolder;
  font-size: 26px;
}
.father > input {
  color: #000000;
  outline: none;
  height: 37px;
}
.father > input::placeholder {
  color: #9e9b9b;
  width: 100%;
  text-align: center;
  font-size: 26px;
}

.father > input[type="date"] {
  font-size: 26px;
}
