.main {
  min-height: calc(100vh - 135px);
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.main header {
  display: flex;
  width: 100%;
  height: 150px;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.main header div {
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 8px;
}

.main header div {
  width: 350px;
}
.main header div span h1 {
  backdrop-filter: blur(8px); /* Desfoque para criar o efeito de vidro */

  border-radius: 10px;

  text-align: center;
  color: white; /* Cor do texto para melhor visualização */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Cor do fundo com transparência */
}
.main header div:nth-child(1) span h1 {
  color: rgb(0, 255, 0);
}
.main header div:nth-child(2) span h1 {
  color: red;
}
.main header div:nth-child(3) span h1 {
  color: #0099ff;
}

.main form {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.main form > div {
  flex-basis: 25%; /* Largura de cada coluna (25% para 4 colunas) */
  padding: 5px; /* Espaçamento entre as colunas */
}

/* O último item ocupa 100% da largura da linha para ficar embaixo dos três primeiros */
.main form > div:last-child {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Centralizar o botão */
}

.main table {
  width: 98%;
  margin: 0 auto;

  border-collapse: collapse; /* To remove spacing between table cells */
}

/* Style the table header */
.main table th {
  background-color: #333; /**/
  color: #a2a6c4;
  padding: 8px;
}

/* Style the table cells (data) */
.main table td {
  padding: 8px;
  color: #ffffff;
}

/* Apply alternating background color to table rows for better readability */
.main table tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* Apply hover effect on table rows */
.main table tbody tr:hover {
  opacity: 0.8;
}
