:root {
  --corSaida: #ff0000;
  --corEntrada: #00ff00;
  --corCaixa: #0099ff;
}

.main {
  min-height: calc(100vh - 135px);
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.main header {
  display: flex;
  width: 100%;
  height: 150px;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.main header div {
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 8px;
}

.main header div {
  width: 350px;
}
.main header div span h1 {
  backdrop-filter: blur(8px); /* Desfoque para criar o efeito de vidro */
  border-radius: 10px;
  text-align: center;
  color: white; /* Cor do texto para melhor visualização */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Cor do fundo com transparência */
}
.main header div:nth-child(1) span h1 {
  color: var(--corEntrada);
}
.main header div:nth-child(2) span h1 {
  color: var(--corSaida);
}
.main header div:nth-child(3) span h1 {
  color: var(--corCaixa);
}

.main form {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.main form > div {
  flex-basis: 25%; /* Largura de cada coluna (25% para 4 colunas) */
  padding: 5px; /* Espaçamento entre as colunas */
  width: auto;
}
.selectInput {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  margin: 10px auto;
  font-size: 26px;
}
.main form > div select {
  height: 37px;
  display: flex;
  font-size: 26px;
  text-align: center;
}

.main form > div .selectInput select option[value=""] {
  color: #aaa;
}

/* Estilo para a borda do campo de seleção quando em foco */
.main form > div select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}
/**/

.main form > div label {
  padding-bottom: 5px;
  color: #000000;
  text-align: center;
  font-weight: bolder;
  font-size: 26px;
}

/* O último item ocupa 100% da largura da linha para ficar embaixo dos três primeiros */
.main form > div:last-child {
  flex-basis: 100%;
  display: flex;
  align-items: center;

  justify-content: center; /* Centralizar o botão */
}
.main form > div > button {
  display: flex;
  padding: 8px 16px;
  background-color: var(--corCaixa);
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  width: 106px;
  height: 46px;
}
.main form > button:hover {
  opacity: 0.8;
}

.main section {
  width: 98%;
  margin: 0 auto;
  max-height: 50vh;
  font-size: 26px;
  overflow-y: scroll; /* Adiciona uma barra de rolagem horizontal quando necessário */
  border-collapse: collapse; /* To remove spacing between table cells */
  margin-bottom: 30px;
}
.main section table {
  width: 98%;
  margin: 0 auto;
  font-size: 26px;
  border-collapse: collapse; /* To remove spacing between table cells */
}

/* Style the table header */
.main section table th {
  background-color: #333; /**/
  color: #a2a6c4;
  padding: 8px;
  position: sticky; /* Deixa o cabeçalho fixo */
  top: 0; /* Define a posição de fixação na parte superior da tabela */
  z-index: 1; /* Aumenta a ordem de sobreposição para garantir que o cabeçalho fique na frente do conteúdo rolável */
}

/* Style the table cells (data) */
.main section table td {
  padding: 8px;
  color: #ffffff;
}

/* Apply alternating background color to table rows for better readability */
.main section table tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* Apply hover effect on table rows */
.main section table tbody tr:hover {
  opacity: 0.8;
}
