:root {
  --corSaida: #800303fb;
  --corEntrada: #008000;
  --corCaixa: #0099ff;
  --GreyLight: #a2a6c4;
  --GreyNormal: #a2a6c4;
  --GreyDark: #727272;
  --GreyCCC: #ccc;
  --corShadow: #2c2b2b;
  --SaidaLight: #ffc0cb;
  --EntradaLight: #d9f0cf;
  --CaixaLight: #87ceeb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
body {
  background-color: #fdfdfd;
}

*::first-letter {
  text-transform: capitalize;
}
p::first-letter {
  padding-left: 15px;
}

p {
  font-size: 15px;
  font-size: clamp(14px, 5vw, 16px) !important;
}

h1 {
  font-size: 25px;
  font-size: clamp(20px, 5vw, 30px) !important;
}

