body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
body {
  background-color: #f8f7f7;
}

*::first-letter {
  text-transform: capitalize;
}
p::first-letter {
  padding-left: 15px;
}

p {
  font-size: 15px;
  font-size: clamp(14px, 5vw, 16px);
}

h1 {
  font-size: 25px;
  font-size: clamp(20px, 5vw, 30px);
}
